<a href="https://colab.research.google.com/github/megansna/TechTalent/blob/main/PythonTask-1-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Task 4<br> 
**Your task:**<br>
A motorbike costs £2000 and loses 10% of its value every year.  
Using a loop, print the value of the bike every following year until it falls below £1000.

In [ ]:
year = 0
motorbikeGBP = float(2000)
def annualValue():
    print('Year ' + str(year) + '\t£{0}'.format(format(motorbikeGBP, ',.2f')))
while motorbikeGBP >= 1000:
    annualValue()
    motorbikeGBP = motorbikeGBP * 0.9
    year += 1
print('\033[1m') 
annualValue()

Year 0	£2,000.00
Year 1	£1,800.00
Year 2	£1,620.00
Year 3	£1,458.00
Year 4	£1,312.20
Year 5	£1,180.98
Year 6	£1,062.88

Year 7	£956.59